<h2>welcome to <i class="fa-solid fa-book"></i>Bookers!!</h2>

<p>in <i class="fa-solid fa-book"></i>Bokers,</p><br>
<p>you can share and exchange your opinions , inpressions , and emotions</p><br>
<p>about various books!</p>

<%= link_to "Log in", new_user_session_path, class: 'btn btn-default' %>
<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-default'%>



